@import "tailwindcss";

:root {
  --gradient-start: #1b0768;
  --gradient-end: #8d1dad;
}

body {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  font-family: var(--my-font-family), sans-serif;
  overflow: hidden;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-left-0 {
  animation: fadeLeft 0.5s ease-out forwards;
}

.fade-left-1 {
  animation: fadeLeft 0.5s ease-out forwards;
  animation-delay: 0.2s;
}

.fade-left-2 {
  animation: fadeLeft 0.5s ease-out forwards;
  animation-delay: 0.4s;
}

.fade-left-3 {
  animation: fadeLeft 0.5s ease-out forwards;
  animation-delay: 0.6s;
}

.fade-right-0 {
  animation: fadeRight 0.5s ease-out forwards;
}
.fade-right-1 {
  animation: fadeRight 0.5s ease-out forwards;
  animation-delay: 0.2s;
}
.fade-right-2 {
  animation: fadeRight 0.5s ease-out forwards;
  animation-delay: 0.4s;
}

.fade-up-0 {
  animation: fadeUp 0.6s ease-out forwards;
}

.fade-up-1 {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.2s;
}

.fade-up-2 {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.4s;
}

.fade-down-0 {
  animation: fadeDown 0.6s ease-out forwards;
}

.fade-left-0, 
.fade-left-1, 
.fade-left-2, 
.fade-left-3, 
.fade-right-0, 
.fade-right-1, 
.fade-right-2,
.fade-up-0, 
.fade-up-1, 
.fade-up-2,
.fade-down-0  {
  opacity: 0;
}


@keyframes dots {
  0%, 20% { content: ''; }
  40% { content: '.'; }
  60% { content: '..'; }
  80%, 100% { content: '...'; }
}

.animate-dots::after {
  content: '';
  animation: dots 3s steps(4, end) infinite;
}